<div class="jumbotron">
    <div class="text-center">
        <div>
            <h1 class="display-4">Adem Basoglu</h1>
            <h3>Java Developer</h3>
        </div>
        <div class="d-flex">
            <ul>
                <a href="https://github.com/AdemBasoglu" target="_blank">
                <img src="../../assets/github.png" alt="github" style="width: 30px; height: 30px;"> </a></ul>
            <ul><a href="https://www.linkedin.com/in/adembasoglu/" target="_blank">
                <img src="../../assets/LinkedIn.png" alt="LinkedIn" style="width: 30px; height: 30px;">
            </a></ul>
            
        </div>
    </div>
</div>
