<div class="container">
    <!--about me-->
  <div class="row">
    <div class="col-lg shadow border m-1">
        <div class="text-center">
            <h2>About Me</h2>
            <img src="../../assets/foto.jpg" alt="profile picture" width="256" height="256" class="rounded-circle">
            <p>I am a highly motivated and well-trained Java Developer, equipped with the necessaryskills and knowledge to ensure the quality of software products. As a detail-oriented team player, who collaborate effectively within the development teamto tackle defects accurately and provide constructive solutions to improve theend product.</p>
        </div>
    </div>
  
    </div>
  </div>
