<div class="container">
  <!--contact me-->
  <div class="row">
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>🌟 My contact information</h2>
        <img
          src="../../assets/communication.jpeg"
          alt="profile picture"
          width="256"
          height="256"
          class="rounded-circle"
        />
        <p><strong> Address : </strong>Lijsterhof Straat 35 /Tienen -3300</p>
        <img src="../../assets/tel.png" alt="" width="10" />
        <strong>Tel : </strong>0483 74 08 25
        <p>
          <img style="position: fixed" alt="" />
          <a href="mailto:admbasoglu28@gmail.com"
            ><img src="../../assets/mail.png" alt="e-mail" width="50" />
          </a>
          <a href="https://github.com/AdemBasoglu"
            ><img src="../../assets/github.png" target="_blank" alt="e-mail" width="50"
          /></a>
          <a href="https://www.linkedin.com/in/adembasoglu/"
            ><img src="../../assets/LinkedIn.png" target="_blank" alt="e-mail" width="50"
          /></a>
        </p>
      </div>
    </div>
  </div>
</div>
