<nav class="navbar-expand-md border-bottom mb-3">
  <div class="container">
    <ul class="nav justify-content-center">
      <li class="nav-item">
        <a
          class="nav-link text secondry"
          routerLink="/home"
          routerLinkActive="text-dark"
          >Home</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text secondry"
          routerLink="/resume"
          routerLinkActive="text-dark"
          >Resume</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text secondry"
          routerLink="/portfolio"
          routerLinkActive="text-dark"
          >Portfolio</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text secondry"
          routerLink="/games"
          routerLinkActive="text-dark"
          >Games</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text secondry"
          routerLink="/about"
          routerLinkActive="text-dark"
          >About</a
        >
      </li>
      <li class="nav-item">
        <a
          class="nav-link text secondry"
          routerLink="contact"
          routerLinkActive="text-dark"
          >Contact</a
        >
      </li>
    </ul>
  </div>
</nav>
