<section id="resume" class="resume">
  <div class="container">
    <div class="section-title">
      <h2 style="text-align: center; color: cadetblue">Resume</h2>
      <br /><br /><br />
    </div>

    <div class="row">
      <div class="col-lg-6" data-aos="fade-up">
        <h3 class="resume-title">Education</h3>
        <div class="resume-item">
          <h4>Java Training-Intec Brussel</h4>
          <h6>2023 - Present</h6>
          <p><em>Rouppeplein,Brussel,Belgium</em></p>
          <p>
            Java is a very popular, cross-platform, open source programming
            language. And the Java community continues to grow globally. I have
            learned how to produce web applications and the required
            technologies (Java, JDBC, JUnit, Maven, JPA-Hibernate, Spring Boot,
            Spring Data JPA, etc.) in this course.
          </p>
        </div>
        <div class="resume-item">
          <h4>Software Developer in Test Bootcamp WiseQuarter</h4>
          <h6>2022 - 2023</h6>
          <p><em>USA</em></p>
          <p>
            I have developed myself in the QA tester training by using various
            tools such as Selenium, database testing, JUnit, TestNG, and
            Cucumber with Java. This has allowed me to build skills in
            automating tests and enhancing the quality of applications.
          </p>
        </div>
        <div class="resume-item">
          <h4>English Language Academy</h4>
          <h6>2011 - 2012</h6>
          <p>
            <em>
              Rice University - Language Institutie, Houston,United States of
              America</em
            >
          </p>
        </div>
        <div class="resume-item">
          <h4>Bachelor Of Public Administration</h4>
          <h6>1998 - 2003</h6>
          <p><em>Dumlipinar University, Kutahya,Turkey</em></p>
        </div>

        <h3 class="resume-title">Certificates</h3>

        <div class="resume-item">
          <h4>ISTQB Foundation Level</h4>
          <h6>Jul-2023</h6>
          <p><em>International Software Testing Qualifications Board</em></p>
        </div>
      </div>

      <div class="col-lg-6" data-aos="fade-up" data-aos-delay="100">
        <h3 class="resume-title">Professional Experience</h3>
        <div class="resume-item">
          <h4>Manual Tester</h4>
          <h6>2023-Present</h6>
          <p><em> </em></p>
        </div>
        <div class="resume-item">
          <h4>QA Software Tester</h4>
          <h6>Jan 2023 - Mar 2023</h6>
          <p><em>Online Shoping Platform- Training Projects </em></p>
          <ul>
            <li>
              Responsible for coding UI, API, and data tests, ensuring robust
              functionality and top-tier performance.
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>QA Software Tester</h4>
          <h6>Dec 2009 - Sep 2021</h6>
          <p><em>Online Education Platform - Training projects</em></p>
          <ul>
            <li>
              Responsible for coding UI test, ensuring robust functionality and
              top-tier performance.
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>District Governor</h4>
          <h6>Dec 2009 - Sep 2021</h6>
          <p>
            <em
              >Ministry of Interior of the Republic of Turkey, Turkey,
              Ankara</em
            >
          </p>
          <ul>
            <li>
              Engaged in negotiations between government agencies, businesses,
              and non-profit organizations.
            </li>
            <li>
              Contributed to the development of long-term plans for improving
              public service delivery systems.
            </li>
            <li>
              Provided leadership during times of crisis by responding quickly
              and effectively.
            </li>
          </ul>
        </div>
        <div class="resume-item">
          <h4>Accountant Expert</h4>
          <h6>Aug 2006 - Dec 2009</h6>
          <p>
            <em
              >Ministry of Finance of the Republic of Turkey, Turkey, Ankara</em
            >
          </p>
        </div>
        <div class="resume-item">
          <h4>Accountant</h4>
          <h6>Apr 2003 - Aug 2005</h6>
          <p><em>Aydinkent Textiel, Turkey, Istanbul</em></p>
        </div>
      </div>
    </div>
  </div>
</section>

<section>
    <img src="" alt="">
</section>
