<div class="container">
  <!--about me-->
  <div class="row">
    <div class="col-lg shadow border m-1">
      <div class="text-center">
        <h2>🌟 Welcome to My Professional Portfolio!</h2>
        <img
          src="../../assets/IT-World.jpeg"
          alt="profile picture"
          width="256"
          height="256"
          class="rounded-circle"
        />
        <p>
          Dear esteemed visitor,<br />

          Welcome to my digital abode, a testament to my journey in the realm
          where technology marries innovation. I am honored to have you peruse
          this curated space, offering a glimpse into my dedication and passion
          for the world of information technology.
        </p>
      </div>
    </div>
    <div>

        <div class="row">
            <div class="col-lg-12">
              <div class="text-center">
                <img src="../../assets/java.png" width="60" alt="">
                <span style="margin: 0 20px;"></span> 
                <img src="../../assets/junit.png" width="80" alt="">
                <span style="margin: 0 20px;"></span> 
                <img src="../../assets/testng.png" width="90" alt="">
                <span style="margin: 0 20px;"></span> 
                <img src="../../assets/typeScript.png" width="60" alt="">
                <span style="margin: 0 20px;"></span> 
                <img src="../../assets/JS.png" width="60" alt="">
                <span style="margin: 0 20px;"></span> 
                <img src="../../assets/angular.png" width="80" alt="">
                <span style="margin: 0 20px;"></span> 
                <img src="../../assets/sql.jpeg" width="90" alt="">
                <span style="margin: 0 20px;"></span> 
                <img src="../../assets/maven.png" width="80" alt="">
                <span style="margin: 0 20px;"></span>
                 <img src="../../assets/selenium.png" width="60" alt="">
                <span style="margin: 0 20px;"></span> 
                <img src="../../assets/cucumber.png" width="70" alt="">
                <span style="margin: 0 20px;"></span> 
              </div>
            </div>
          </div>
        </div>  
 
